node_modules
android
.expo
.vscode
.windsurf
.trae
.qwen
.gemini
.github/
.bmad-core
.agent
.idea/
# Environment variables
.env
.env.local
.env.development
.env.production
package-lock.json
docs/
.env.local
